[Desktop Entry]
Type=Application
Name=Local Security Tool
Comment=Integrated Port Scanner and Network Traffic Analyzer - Portable Edition
Exec=/home/hanzi/Documents/mmdc/SSP/MS2/Milestone-2-Local-Security-Tool/LocalSecurityTool.sh
Path=/home/hanzi/Documents/mmdc/SSP/MS2/Milestone-2-Local-Security-Tool
Terminal=false
Categories=Network;Security;
StartupNotify=true
